<div class="margin-content mt-5">
  <h3 i18n class="fs-3 text-center fw-semibold mb-3">
 Willkommen bei IslamHaus.TV  
  </h3>

<img class="d-block my-4 mx-auto" width="121px" height="147px" src="/client/assets/images/islamhaus-logo.jpg" alt="IslamHaus.TV Logo"/>

  <div class="text-center">
    <p i18n>
IslamHaus.TV verbindet islamisches Wissen, Bildung und Vorträge an einem Ort – für alle, die den Islam im deutschsprachigen Raum entdecken, vertiefen und verstehen möchten.
    </p>

    <p i18n>
Unser Ziel ist es, authentische islamische Inhalte frei zugänglich zu machen und einen Ort zu schaffen, an dem Wissen geteilt und Gemeinschaft gestärkt wird.
    </p>

  </div>

  <div class="d-flex flex-wrap justify-content-center my-5">

    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <a i18n class="link-primary" rel="noopener noreferrer" href="https://islamhaus.tv/search?search=&resultType=channels&searchTarget=local">IslamHaus.TV Kanäle</a>
        </div>

        <div i18n class="card-text">
      Entdecken Sie verschiedene Kanäle mit islamischen Vorträgen, Bildungsinhalten und wertvollen Beiträgen. Folgen Sie Ihren bevorzugten Kanälen und bleiben Sie über neue Inhalte informiert.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <a i18n class="link-primary"  rel="noopener noreferrer" href="https://islamhaus.tv/videos/browse">IslamHaus.TV nutzen</a>
        </div>

        <div i18n class="card-text">
Greifen Sie jederzeit auf unsere Inhalte zu und entdecken Sie islamische Vorträge, Bildungsinhalte und wertvolles Wissen – auf Ihrem Smartphone, Tablet oder Computer.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-title">
<a i18n class="link-primary" target="_blank" rel="noopener noreferrer" href="https://github.com/valeron90/PeerTube">Open-Source &amp; Entwicklung</a>
        </div>

        <div i18n class="card-text">
<p>  
  IslamHaus.TV basiert auf der freien und offenen Video-Plattform   
  <a class="link-primary" href="https://joinpeertube.org" target="_blank" rel="noopener noreferrer">PeerTube</a>,   
  lizenziert unter der   
  <a class="link-primary" href="https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE" target="_blank" rel="noopener noreferrer">AGPLv3-Lizenz</a>.  
  Der Quellcode unserer angepassten Version ist auf   
  <a class="link-primary" href="https://github.com/valeron90/PeerTube" target="_blank" rel="noopener noreferrer">GitHub</a> verfügbar.  
</p>
        </div>
      </div>
    </div>
  </div>
</div>
