<div class="margin-content mt-5">
  <h3 i18n class="fs-3 text-center fw-semibold mb-3">
 Willkommen bei IslamHaus.TV  
  </h3>

  <img class="d-block my-4 mx-auto" width="121px" height="147px" src="/client/assets/images/islamhaus-logo.jpg" alt="mascot"/>

  <div class="text-center">
    <p i18n>
IslamHaus.TV verbindet islamisches Wissen, Bildung und Vorträge an einem Ort – für alle, die den Islam im deutschsprachigen Raum entdecken, vertiefen und verstehen möchten.
    </p>

    <p i18n>
Unser Ziel ist es, authentische islamische Inhalte frei zugänglich zu machen und einen Ort zu schaffen, an dem Wissen geteilt und Gemeinschaft gestärkt wird.
    </p>

    <p i18n>
IslamHaus.TV bietet eine Plattform für islamische Vorträge, Bildung und Wissen. Unser Ziel ist es, authentische Inhalte zugänglich zu machen und den Austausch innerhalb der Gemeinschaft zu fördern.
    </p>
  </div>

  <div class="d-flex flex-wrap justify-content-center my-5">

    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <a i18n class="link-primary" target="_blank" rel="noopener noreferrer" href="https://islamhaus.tv/search?search=&resultType=channels&searchTarget=local">IslamHaus.TV Kanäle.</a>
        </div>

        <div i18n class="card-text">
      Entdecken Sie verschiedene Kanäle mit islamischen Vorträgen, Bildungsinhalten und wertvollen Beiträgen. Folgen Sie Ihren bevorzugten Kanälen und bleiben Sie über neue Inhalte informiert.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <a i18n class="link-primary" target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/use/third-party-application">IslamHaus.TV nutzen</a>
        </div>

        <div i18n class="card-text">
  Greife jederzeit auf unsere Inhalte zu und entdecke islamische Vorträge, Bildungsinhalte und wertvolles Wissen – auf deinem Smartphone, Tablet oder Computer.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <a i18n class="link-primary" target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/contribute/getting-started">IslamHaus.TV unterstützen</a>
        </div>

        <div i18n class="card-text">
  Gemeinsam können wir eine Plattform für authentische islamische Inhalte, Bildung und Wissen weiterentwickeln. Teile IslamHaus.TV mit anderen und trage dazu bei, wertvolle Inhalte zugänglich zu machen.
        </div>
      </div>
    </div>
  </div>
</div>
